<div id="main">
  <div id="map"></div>
  <div id="sidebar">
    <%= form_tag :search, method: 'GET', id: 'new_search', remote: true do %>
      <%= label_tag :search %>
      <%= text_field_tag :search, nil, tabindex: 1 %>
      <%= submit_tag 'Search' %>
    <% end %>
    <ul class="employees"></ul>
  </div>
</div>

<%= javascript_tag do %>
  window.employees = JSON.parse('<%= j @employees.to_json.html_safe %>');
<% end %>
